__pycache__/
*.pyc
build/
out/
artifacts/
obj/
src/tools/syncsoshelp/output/
CMakeFiles/
CMakeCache.txt
*.dir/
*.o
*.so
*.a
.vscode/

# backups
src/backup-2025-09-24/

# test logs
src/tests/gdb/logs/

# qemu prepared artifacts
src/tests/qemu/testspaces/

# SOS stress log files
StressLog.txt
